#cuentasSelect {
    position: relative;
    display: block;
    min-width: 250px;
    padding: 0 104px 0 25px;
    font-weight: 100;
    color: #6e7c83;
    line-height: 50px;
    background-color: #ffffff;
    border-radius: 3px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

#cuentasSelect::before {
    position: absolute;
    display: block;
    content: "";
    width: 1px;
    height: 50px;
    top: 3px;
    right: 50px;
    margin-top: -3px;
    border-right: 1px solid #c7d1d6;
    transition: all 0.35s ease-out;
    transform-origin: 50% 0;
}

#cuentasSelect::after{
    position: absolute;
    display: block;
    content: "";
    width: 10px;
    height: 10px;
    top: 50%;
    right: 20px;
    margin-top: -3px;
    border-bottom: 1px solid #c7d1d6;
    border-right: 1px solid #c7d1d6;
    transform: rotate(45deg) translateY(-50%);
    transition: all 0.35s ease-out;
    transform-origin: 50% 0;    
}

#mensajeNocuenta{
    text-align: center;
    margin-bottom: 400px;
    color: #18d26e;
    font-weight: bold;
}