 
#cuentasSelect {
    position: relative;
    display: block;
    min-width: 250px;
    padding: 0 104px 0 25px;
    font-weight: 100;
    color: #6e7c83;
    line-height: 50px;
    background-color: #ffffff;
    border-radius: 3px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

#cuentasSelect::before {
    position: absolute;
    display: block;
    content: "";
    width: 1px;
    height: 50px;
    top: 3px;
    right: 50px;
    margin-top: -3px;
    border-right: 1px solid #c7d1d6;
    transition: all 0.35s ease-out;
    transform-origin: 50% 0;
}

#cuentasSelect::after{
    position: absolute;
    display: block;
    content: "";
    width: 10px;
    height: 10px;
    top: 50%;
    right: 20px;
    margin-top: -3px;
    border-bottom: 1px solid #c7d1d6;
    border-right: 1px solid #c7d1d6;
    transform: rotate(45deg) translateY(-50%);
    transition: all 0.35s ease-out;
    transform-origin: 50% 0;    
}

#mensajeNocuenta{
    text-align: center;
    margin-bottom: 400px;
    color: #18d26e;
    font-weight: bold;
}

#sald{
    height: 130px;
    width: 130px;
    background-color: #68f5a9c7;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    vertical-align: middle;
    justify-content: center;
    color: black;
    font-weight: bolder;
    font-family: Verdana;
    font-size: 20px;
}

.FontSaldo{
    margin-top: -7px;
    font-weight: bold;
    font-family: Tahoma, sans-serif;
}

.TituloSaldoCirculo{
    margin-top: -10px;
    font-size: 15px;
}

#breadcrumbs3{
    text-align: center;
}

#tipoCuenta{
    margin-top: 20px;
    font-size: 30px !important;
    color: #18d26e;
}

/*

#botonesFiltros{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

#botonesFiltros1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: -7vw !important;
}

#botonesFiltros2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: auto;
    position: absolute;
}


#botonesFiltros3{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 8vw !important;
}

*/

#botonesFiltros{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

#botonesFiltros1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 50px;
    margin-top: 15px;
}

#botonesFiltros2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: auto;
}

#botonesFiltros3{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 50px;
    margin-top: 15px;
}

@media (max-width: 1475px) {
    
    #botonesFiltros1{
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 20px;
        margin-top: 15px;
    }
    
    #botonesFiltros3{
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 20px;
        margin-top: 15px;
    }

}


@media (max-width: 1050px) {
    
    #botonesFiltros1{
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 7px;
        margin-top: 15px;
    }
    
    #botonesFiltros3{
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 7px;
        margin-top: 15px;
    }

}




.escogeCuenta{
    margin-bottom: 5px;
}



#tablas{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#containerTablas{
    width: 70%;
    margin-right: 0px !important;
    
}

.tablaPrestamos{
    margin-top: 130px !important;
}

#ComparacionTablas{
    padding: 0%;
}


#tableInfoPrestamo{
    text-align: center;
}

table.table{
    text-align: center;
}

@media (max-width: 800px) {

    #botonesFiltros1 { order: 2; }
    #botonesFiltros3 { order: 3;  }
    #botonesFiltros1 { order: 1; }

    #botonesFiltros{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
    }

    #botonesFiltros3{
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 7px;
        margin-top: -60px;
        margin-bottom: -15px;
    }

    #tablas{
        margin-top: -20px;
    }

    #containerTablas{
        width: 100%;
    }

    #tablaMovim{
        font-size: 2.4vw;
    }

}


@media (max-width: 660px) {

    #flexrow{
        display: flex;
        flex-direction: column;
        align-content: center;
        
    }

    #CuentaBanca {
        font: 13px/1.5 "Roboto", sans-serif;
        margin-top: 20px;
        position: initial;
        z-index: 20;
    }

    #breadcrumbs2{
        align-content: center;
        align-items: center;
        height: 260px;
    }

}



/**Pruebas**/

.card {
    margin: auto;
    color: black;
    border-radius: 20 px
}

p {
    margin: 0px
}

.container .h8 {
    font-size: 30px;
    font-weight: 800;
    text-align: center
}

.btn.btn-primary {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    background-image: linear-gradient(to right, #18d26fc5 0%, #18d26e 51%, #18d26f80 100%);
    border: none;
    transition: 0.5s;
    background-size: 200% auto
}

.btn.btn.btn-primary:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none
}

.btn.btn-primary:hover .fas.fa-arrow-right {
    transform: translate(15px);
    transition: transform 0.2s ease-in
}

.form-control2 {
    color: white;
    background-color: #ebebeb;
    border: 2px solid transparent;
    height: 60px;
    padding-left: 20px;
    vertical-align: middle;
    width: 100%;
}

.form-control2:focus {
    color: white;
    background-color: #b9e4c4;
    border: 2px solid #ffffff;
    box-shadow: none
}

.text {
    font-size: 14px;
    font-weight: 600
}

::placeholder {
    font-size: 14px;
    font-weight: 600
}

.flexTrans{
    display: flex;
    flex-direction: row;
}


#saldo3, #saldo1, #saldo2{
    font-weight: bold;
    color: black;
    width: auto;
    text-align: end;
    z-index: 10;
}

#euro3, #euro, #euro2{
    font-weight: bold;
    color: black;
    width: 70px;
    display:flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: start;
    margin-left: -30px;
}

#saldo2{
    width: 100%;
}

#cuenta2form{
    color: black;
    width: 400px;
}

#cuenta2form2{
    color: black;
}

#cuenta1form{
    color: black;
}

#cuenta1form2{
    color: black;
}

#importeform{
    color: black;
}

#importeform2{
    color: black;
}

#conceptoform{
    color: black;
}

#importe3form{
    color: black;
}

#concepto3form{
    color: black;
}

#importe2form{
    color: black;
}

#concepto2form{
    color: black;
}

#conceptoform2{
    color: black;
}

#letraTransferir{
    text-align: center;
    font-weight: bold;
}

#botonTransferir{
    text-align: center;
}